@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato');
body {
    background: url(background.jpeg) no-repeat center top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.info {
    width: 45%;
    margin-top: 30px;
    margin-left: 47%;
}
h1 {
    font-family: 'Dancing Script';
    text-align: left;
    font-size: 50px;
}
p {
    font-family: 'Lato';
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}
a {
    color: #C43618;
}
a:hover {
    color: #000;
    text-decoration: none;
}
@media (max-width: 1000px) {
    body {
        background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url(background.jpeg) no-repeat center top fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
@media (max-width: 786px) { 
      body {
        background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(background.jpeg) no-repeat center top fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .info {
        width: 86%;
        margin: 40px 0 0 7%;
    }
}
