@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
html, body {
    height: 100%;
    margin: 0;
}
#frontpage {
    min-height: 100%;
    background-image: url(backgroundblur2.jpg);
    background-size: cover;
    padding: 5px;
    text-align:center;
}
#frontpage a {
    vertical-align: bottom;
}
h1 {
    color: white;
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 50px;
	padding-top: 195px;
}
h2 {
    color: white;
    font-size: 40px;
    font-family: "Open Sans";
    font-weight: 600;
}
.arrow {
    color: rgb(0, 0, 0);
	text-align: center;
}
.arrow:hover {
    color: rgb(50, 180, 180);
}
#intro {
	min-height: 75%;
    background-color: rgb(255, 255, 255);
    text-align:justify;
    padding: 9%;
}
#pic {
	float: left;
    margin-right: 50px;
}
#aboutme {
    font-family: "Source Sans Pro";
    font-size: 20px;
    margin: 30px;
}
#contact {
	min-height: 25%;
    background-color: rgb(50, 180, 180);
    text-align: center;
    padding: 20px;
}
.contactlinks {
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    display: inline-block;
	padding: 20px;
	font-size: 25px;
}
.contactlinks:hover {
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    text-decoration: none;
}